<launch>
    
    <!-- 1. [核心修复] 发布静态 TF 变换 -->
    <!-- args: x y z yaw pitch roll parent_frame child_frame period_ms -->
    <!-- 意思：把 laser_livox 固定在 base_link 上，无位移 -->
    <node pkg="tf" type="static_transform_publisher" name="lidar_to_body" args="0 0 0 0 0 0 base_link laser_livox 100" />
    <!-- 2. 启动规划节点 (大脑) -->
    <node pkg="astar" type="astar" name="astar_node" output="screen">
        <rosparam command="load" file="$(find astar)/config/astar.yaml" />
    </node>
</launch>